<!-- Footer -->
<footer class="page-footer font-small indigo lighten-1 pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">SKKLUB ADMIN</h5>
          <p>
                <div>기술지원위원회 since 2020</div>
                <div><a href="https://www.notion.so/9f2a5b7d93a54fedb36c961afa1fb254" target="_blank">스클럽 소개</a></div>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
            <!-- Content -->
            <h5 class="text-uppercase font-weight-bold">Contact</h5>
            <p>
                  <div>문의 번호 | 010.5686.3455</div>
                  <div>관리책임자 | 최민규</div>
            </p>
    
          </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
  </footer>
  <!-- Footer -->