<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>::::: SKKLUB ADMIN :::::</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <!-- Bootstrap core CSS -->
    <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/css/jquery-ui.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/lib/css/mdb.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="lib/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="lib/js/jquery-ui.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="lib/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>


</head>