<%- include('./partials/header.ejs'); %>

<h1>내 동아리 계정 설정</h1>
<h3>비밀번호 변경</h3>
<div>비밀번호 조건</div>
<ul>
    <li>6~20 자리</li>
    <li>공백 불가</li>
</ul>
<form action="/account" method="POST">
    변경할 비밀번호 : <input type="password" name="pw1" required><br>
    비밀번호 확인 : <input type="password" name="pw2" required><br>
    <input type="submit" value="변경하기">
</form>
<% if(messages.flash) { %> 
    <%= messages.flash %> 
<% } %>


<%- include('./partials/scripts.ejs'); %>