<%- include('./partials/header.ejs'); %>
<%- include('./partials/navbar.ejs'); %>

<div class="card">
    <div class="card-body">
        <h3 class="text-center"> 스클럽 동아리 명단 </h3>
        <!-- 검색조건 -->
        <div class="text-right">
            <form action="/search">
                <select name="status">
                    <option value="">승인여부</option>
                    <option value="ok">승인</option>
                    <option value="hold">대기</option>
                    <option value="stop">정지</option>
                </select>
                <select name="campus">
                    <option value="">캠퍼스</option>
                    <option value="명륜">명륜</option>
                    <option value="율전">율전</option>
                </select>
                <select name="category1">
                    <option value="">모임구분</option>
                    <option value="중앙동아리">중앙동아리</option>
                    <option value="기타동아리">기타동아리</option>
                    <option value="소모임">소모임</option>
                    <option value="기타단체">기타단체</option>
                </select>
                <select name="searchCategory">
                    <option value="cname">모임명</option>
                    <option value="category2">중분류</option>
                    <option value="category3">소분류</option>
                    <option value="president_name">대표자명</option>
                    <option value="contents">본문</option>
                </select>
                <input type="text" name="searchKey" id="searchKey">
                <button id="search_btn" type="submit" class="fa fa-search"></button>
            </form>
            <button id="reset_filter">초기화</button>
        </div>
        <table class="table clublist">
            <thead>
                <tr>
                    <th>CID</th>
                    <th>CNAME</th>
                    <th>Category</th>
                    <th>Authority</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>몰라</td>
                    <td>중앙동아리</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%- include('./partials/scripts.ejs'); %>
<script src="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="/js/datatable.js"></script>