<%- include('./partials/header.ejs'); %>
<%- include('./partials/navbar.ejs'); %>

<div class="card-group" id="index-card">
    <div class="card">
      <div class="card-body">
        <div class="view overlay zoom">
            <img src="/img/skk_character.jpg" class="img-fluid " alt="">
        </div>
        <h5 class="card-title">SKKLUB Page</h5>
        <p class="card-text">SKKLUB은 성균관대학교 동아리를 누구나 쉽고 편하게 찾아볼 수 있는 서비스예요. SKKLUB에 소개되는 나의 동아리를 확인해보세요!</p>
        <div class="index-btn"><a href="http://www.skklub.com/" target="_blank"><button type="button" class="btn btn-primary">SKKLUB 바로가기</button></a></div>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="view overlay zoom">
                <img src="/img/skk_character2.jpg" class="img-fluid " alt="">
            </div>
          <h5 class="card-title">MY SKKLUB</h5>
          <p class="card-text">나의 동아리 정보를 확인하고 수정할 수 있어요. 내 동아리를 멋지게 소개해보세요!</p>
          <div class="index-btn"><a href="/info"><button type="button" class="btn btn-primary" name="manage_club">내 동아리 정보관리</button></a></div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
            <div class="view overlay zoom">
                <img src="/img/skk_character3.jpg" class="img-fluid " alt="">
            </div>
          <h5 class="card-title">Account Setting</h5>
          <p class="card-text">내 계정의 비밀번호를 수정할 수 있어요. 비밀번호는 어렵게, 인수인계는 확실하게!</p>
          <div class="index-btn"><a href="/account"><button type="button" class="btn btn-primary">비밀번호 변경</button></a></div>
        </div>
      </div>
  </div>


<%- include('./partials/scripts.ejs'); %>