<%- include('./partials/header.ejs'); %>
<% if(alertmsg) { %> 
    <script>alert('<%= alertmsg %>')</script>
<% } %>

<h1><%= cname %> 관리자님, 환영합니다!</h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log out</button>
</form>
<div>
    
</div>
<a href="/info"><button>내 동아리 정보관리</button></a>
<a href="/account"><button>내 동아리 계정설정</button></a>


<%- include('./partials/scripts.ejs'); %>