<h1>SKKLUB 동아리 로그인</h1>
<% if(messages.error) { %> 
    <%= messages.error %> 
<% } %> 
<form action="/login" method="POST">
    <div>
        <label for="name">아이디</label>
        <input type="text" id="admin_id" name="admin_id" required value="멋쟁이사자처럼"> <!-- name항목은 서버에서 이용될 이름 -->
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="text" id="password" name="password" required value="111111"> <!-- name항목은 서버에서 이용될 이름 -->
    </div>
    <button type="submit">로그인</button>
</form>
<a href="/register">Register</a>