/* index */
#index-card .card-body{
    padding-bottom: 70px;
}

#index-card .index-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#index-card .card-body img{
    width: 90%;
    margin: auto 5%;
}

#index-card .card-text:hover{
    color: rgb(51, 51, 51);
}

/* nav */
li .logout-btn{
    padding: 0.2rem 0.6rem !important;
    position: relative;
    top: 4px;
}

/* info */
#info-table{
    width: 80% !important;
    margin: 0 10%;
}

/* login */
input#admin_id, input#password, button#sign-in, input#pw1, input#pw2, button#pwchange{
    width: 50% !important;
    margin: auto auto;
    text-align:center;
}
@media screen and (max-width: 768px) {
    input#admin_id, input#password, button#sign-in, input#pw1, input#pw2, button#pwchange{
        width: 80% !important;
    }
}


/* datatable */
.clublist .dt-center {
    min-width:70px;
}

.clublist tbody tr:hover{
    color: white;
    background-color: rgb(75, 75, 75);
}

span.viewDetail:hover{
    cursor: pointer;
}

#info-table, #info-table-modal{
    word-break: break-all;
}


/* Master Page */

/* filter */
#filterform .filtSelect{
        display: inline-block;
        height: calc(1.8125rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: .875rem;
}

#filterform .filtTxt{
        display: inline-block;
        height: calc(1.8125rem + 2px);
        padding: .375rem .75rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Setting Mode */
#settingMode{
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 330px;
    padding: 1rem 1rem;
    margin: 0;
}
#settingMode hr{
    margin: 1rem 0;
}

#settingMode .btn-sm{
    padding: .3rem 1.2rem;
    margin-left: 0;
    margin-top: 10px;
}